body {
    background-color : black;
}

#header p{
    color: white;
    float: right;
    margin-right:50px;
   
}

#header img {
    height: 200px;
    width: 400px;
    float:left;
}
#header a {
    color: white;
}
#nav {
    
    color:white;
    margin-right:50px;
   float: right;
 
          
}
#section {
    
    float:left;
    color:white; 
    padding:5px;
    margin-right:15px;
    margin-left:50px;	 
}
    #section p {
        text-align: center;
    }
    #section img {
        margin:5px;
        margin-left:20px;
    }
    
#content {
    
    color:white; 	
    
}
    #content img {
        width: 150px;
        height: 200px;
        float:right;
        margin-right:50px;
    }
#footer {
    color: white;
    clear: both;
    margin-left:50px;
    padding: 5px;
    margin-right:50px;
}
